*{
    padding: 0px;
    margin: 0px;
}

body::-webkit-scrollbar{
    width: 8px;
}
body::-webkit-scrollbar-thumb{
    background:#ff7dc8;
}
body::-webkit-scrollbar-track{
    background: rgb(29, 38, 58);
}
    

/* html{
    height: 100%;
} */
html, body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100% !important;
    overflow-x: hidden !important;

}





/*ACOMODO BOOTSTRAP ul*/
ul{
    margin-bottom: 0px;
    padding-left: 0px;
}

h1, h2{
    text-align: center;
    font-family: 'Nunito', sans-serif;
    padding-top: 10%;
    margin-top: 15px;
}

h3{
    /* text-align: center; */
    font-family: 'gt walsheim pro', sans-serif;
    /* padding-right: 10px;
    margin-top: 15px; */
    font-size: 115px;
    font-weight: 900;
    color: #ebe1dc;
    max-width: 630px;
}

h4{
    /* text-align: center; */
    font-family: 'gt walsheim pro', sans-serif;
    /* padding-right: 10px;
    margin-top: 15px; */
    font-size: 50px;
    font-weight: 900;
    color: #ebe1dc;
    max-width: 630px;
}


/*BACKGROUND COLOR BODY*/
.colorindex{
    display: flex;
    background-color: #0d1119;
}
.colorcontact{
    display: flex;
    background-color:#0d1119;
}
.colorserv{
    background-color: greenyellow;
}


/*MENU*/
.nav-bar{
    width: 100%;
    background-color: #0d1119;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0%;
    padding-bottom: 10px;
    border-bottom: 1px solid #ebe1dc;
    z-index: 2;
}

.nav-bar a img{
    padding: 10px 40px;
    height: 100px;
    width: auto;
}
.menu li{
    display: inline-block;
}
.menu li a{
    margin: 28px;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    transition: all 300ms;

}
.menu li a:hover{
    color:#ff7dc8;
    /* text-shadow: rgb(6, 230, 242) 1px 1px 5px; */
    transform: scale(1.4, 1.4);
}


/*FOOTER*/
.footer{
    border-top: 1px solid #ebe1dc;
    margin-top: auto;
    padding: 30px 30px;
    display: flex;
    color: #ebe1dc;
    font-size: 16px;
    font-weight: 600;
    justify-content: space-between;
    line-height: 1.5;
    background-color: #0d1119;
    align-items: center;
}

.footer p{
    margin-top: 15px;
}
.footer a{
    color: #ebe1dc;
    text-decoration: none;
    transition: all 300ms;
}
.footer a:hover{
    color:#ff7dc8;
    transform: scale(1.3, 1.3);
}
.fooimg img{
    height: 75px;
    width: auto;
    margin-left: 10px;
    margin-top: 10px;
}
.redes-container{
    padding: 20px;
    font-size: 30px;
    transition: all 300ms;
}
.redes-container i:hover{
    color:#ff7dc8;
    transform: scale(1.3, 1.3);
}
.redes-container i{
    margin: 10px;
}


/*HOME*/
.heroindex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    margin-bottom: 100px;
}

.heroindex2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.textindex{
    margin-right: 20px;
}
.textindex2{
    margin-left: 20px;
}

.heroindex h3{
    font-size: 80px;
    color: #ff7dc8;
}
.heroindex2 h3{
    font-size: 80px;
    color: #ff7dc8;
}

.imgindex img{
    height: 600px;
    width: 600px;
}
.imgindex2 img{
    height: 600px;
    width: 600px;
}


/*FORMULARIO CONTACT*/
.form{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    height: 100%;
    align-items: center;
    overflow-y: auto;
    padding-top: 20%;
    padding-bottom: 10%;
    
}

.formindex{
    width: auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    height: 100%;
    align-items: center;
    overflow-y: auto;
    padding-top: 5%;
    padding-bottom: 10%;
}

.divform{
    width: 40%;
}
.form label{
    display: none;
}
.form-control{
    /* width: 100%; */
    border: 3px solid;
    border-color:#0d1119;
    background-color: #ebe1dc;
}
.form-control:focus{
    border: 3px solid;
    border-color:#ff7dc8;
    outline: none;
    box-shadow: none;
    background-color: #ebe1dc;
}
.formtextarea{
    height: 280px;
    padding: 10px;
    resize: none;
    border: 3px solid;
    border-color:#0d1119;
    background-color: #ebe1dc;
    margin-bottom: 1px;
}

/*BOTON FORMULARIO CONTACT*/
.btn3 {
    color:#0d1119 !important;
    font-size: 15px;
    font-weight: 500;
    padding: 0.5em 3.2em;
    background-color: #ff7dc8;
    border: 3px solid;
    border-color:#0d1119;
    transition: all 0.5s ease;
    position: relative;
    border-radius: 6px;
}
.btn3:hover {
    background-color: #0d1119;
    color: #ff7dc8 !important;
    border: 3px solid;
    border-color:#ff7dc8;
}



/* -----------------MENU RESPONSIVE----------------------- */

/* .nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
} */

/* .nav-list li a {
    text-decoration: none;
    color: #1c1c1c;
} */

.abrir-menu,
.cerrar-menu {
    display: none;
}



/* ------------------------RESPONSIVE----------------------- */


@media (max-width: 1280px){

    .heroindex{
        display: flex;
        flex-direction: column;
    }
    .heroindex2{
        display: flex;
        flex-direction: column;
        flex-flow: column-reverse;
    }
    .textindex{
        padding-bottom: 20px;
        margin-right: 0;
    }
    .textindex2{
        padding-bottom: 20px;
        /* margin-right: 0; */
        margin-left: 0;
        padding-right: 170px;

    }

    h3, h4{
        max-width: 700px;
    }

    .imgindex img{
        width: 700px;
        height: 600px;
    }
    .imgindex2 img{
        width: 700px;
        height: 600px;
    }
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0px;
        margin-bottom: 10vh;
    }
    .textcontact{
        margin-top: 20vh;
    }

    .header {
        display: flex;
        position: fixed;
        width: 100%;
        padding: 3rem;
        background-color: #0d1119;
        z-index: 2; 
        border-bottom: 1px solid #ebe1dc;

    }
    .abrir-menu,
    .cerrar-menu {
        display: flex;
        border: 0;
        font-size: 3rem;
        background-color: transparent;
        cursor: pointer;
        position: fixed;
        width: 40px;
        height: 40px;
        top: 24px;
        right: 24px;
        background: 0 0;
        padding: 0 8px;
        color:#ff7dc8;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        font-size: 36px;
        justify-content:flex-start;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        -webkit-clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
        clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
        background: linear-gradient(#0d1119, 60%, #ff7dc8);
        transition: cubic-bezier(0.18, 0.89, 0.32, 1.28) 1s;
        transition-delay: 0s;
        
    }


    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {

        display: flex;
        flex-direction: column;
        /* gap: 24px; */
        align-items: flex-start;
        width: 100%;
        min-height: 100%;
        font-weight: 600;
    }

    /* .nav-list li a {
        color: #ecececec;
    } */

}

@media (max-width: 800px){
    .heroindex{
        display: flex;
        flex-direction: column;
    }
    .heroindex2{
        display: flex;
        flex-direction: column;
        flex-flow: column-reverse;
    }
    .textindex{
        padding-bottom: 20px;
        margin-right: 0;
    }
    .textindex2{
        padding-bottom: 20px;
        /* margin-right: 0; */
        margin-left: 0;
        padding-right: 250px;

    }

    .heroindex h3{
        font-size: 50px;
    }
    .heroindex2 h3{
        font-size: 50px;
    }
    h4{
        font-size: 30px;
    }

    h3, h4{
        max-width: 600px;
    }

    .imgindex img{
        width: 600px;
        height: 500px;
    }
    .imgindex2 img{
        width: 600px;
        height: 500px;
    }
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0px;
        margin-bottom: 10vh;
    }
    .textcontact{
        margin-top: 20vh;
    }
    .textcontact h3{
        font-size: 50px;
    }

    .header {
        display: flex;
        position: fixed;
        width: 100%;
        padding: 3rem;
        background-color: #0d1119;
        z-index: 2; 
        border-bottom: 1px solid #ebe1dc;

    }
    .abrir-menu,
    .cerrar-menu {
        display: flex;
        border: 0;
        font-size: 3rem;
        background-color: transparent;
        cursor: pointer;
        position: fixed;
        width: 40px;
        height: 40px;
        top: 24px;
        right: 24px;
        background: 0 0;
        padding: 0 8px;
        color:#ff7dc8;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        font-size: 36px;
        justify-content:flex-start;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        -webkit-clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
        clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
        background: linear-gradient(#0d1119, 60%, #ff7dc8);
        transition: cubic-bezier(0.18, 0.89, 0.32, 1.28) 1s;
        transition-delay: 0s;
        
    }


    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {

        display: flex;
        flex-direction: column;
        /* gap: 24px; */
        align-items: flex-start;
        width: 100%;
        min-height: 100%;
        font-weight: 600;
    }

    /* .nav-list li a {
        color: #ecececec;
    } */

}

@media (max-width: 600px){

    .heroindex{
        display: flex;
        flex-direction: column;
    }
    .heroindex2{
        display: flex;
        flex-direction: column;
        flex-flow: column-reverse;
    }
    .textindex{
        padding-bottom: 20px;
        margin-right: 0;
        margin-left: 10px;
    }
    .textindex2{
        padding-bottom: 20px;
        /* margin-right: 0; */
        margin-left: 10px;
        padding-right: 80px;

    }

    .heroindex h3{
        font-size: 50px;
    }
    .heroindex2 h3{
        font-size: 50px;
    }
    h4{
        font-size: 30px;
    }

    h3, h4{
        max-width: 400px;
    }

    .imgindex img{
        width: 600px;
        height: 500px;
    }
    .imgindex2 img{
        width: 600px;
        height: 500px;
    }
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0px;
        margin-bottom: 10vh;
        width: 100%;
    }
    .textcontact{
        margin-top: 20vh;
        align-items: center;
    }
    .textcontact h3{
        font-size: 50px;
    }
    .divform{
        width: auto;
    }

    .footer{
        flex-direction: column;
        gap: 12px;
    }
    .redes-container{
        padding-top: 0px;
    }
    .footer-contact p{
        margin-bottom: 0px;
    }

    .header {
        display: flex;
        position: fixed;
        width: 100%;
        padding: 3rem;
        background-color: #0d1119;
        z-index: 2; 
        border-bottom: 1px solid #ebe1dc;

    }
    .abrir-menu,
    .cerrar-menu {
        display: flex;
        border: 0;
        font-size: 3rem;
        background-color: transparent;
        cursor: pointer;
        position: fixed;
        width: 40px;
        height: 40px;
        top: 24px;
        right: 24px;
        background: 0 0;
        padding: 0 8px;
        color:#ff7dc8;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        font-size: 36px;
        justify-content:flex-start;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        -webkit-clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
        clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
        background: linear-gradient(#0d1119, 60%, #ff7dc8);
        transition: cubic-bezier(0.18, 0.89, 0.32, 1.28) 1s;
        transition-delay: 0s;      
    }


    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {

        display: flex;
        flex-direction: column;
        /* gap: 24px; */
        align-items: flex-start;
        width: 100%;
        min-height: 100%;
        font-weight: 600;
    }

    /* .nav-list li a {
        color: #ecececec;
    } */

}

@media screen and (max-width: 400px) {
    .header {
        display: flex;
        position: fixed;
        width: 100%;
        padding: 3rem;
        background-color: #0d1119;
        z-index: 2; 
        border-bottom: 1px solid #ebe1dc;

    }
    .abrir-menu,
    .cerrar-menu {
        display: flex;
        border: 0;
        font-size: 3rem;
        background-color: transparent;
        cursor: pointer;
        position: fixed;
        width: 40px;
        height: 40px;
        top: 24px;
        right: 24px;
        background: 0 0;
        padding: 0 8px;
        color:#ff7dc8;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        font-size: 36px;
        justify-content:flex-start;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        -webkit-clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
        clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
        background: linear-gradient(#0d1119, 60%, #ff7dc8);
        transition: cubic-bezier(0.18, 0.89, 0.32, 1.28) 1s;
        transition-delay: 0s;
        
    }


    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {

        display: flex;
        flex-direction: column;
        /* gap: 24px; */
        align-items: flex-start;
        width: 100%;
        min-height: 100%;
        font-weight: 600;
    }

    /* .nav-list li a {
        color: #ecececec;
    } */

}

